<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Admin 페이지')}"></head>
<body>
<nav th:replace="~{fragments/admin/navbar :: navbar}"></nav>
<div class="container-fluid p-5 position-relative">
    <div class="row g-4">
        <!--sidebar:left-->
        <aside class="col-md-3 col-xl-2">
            <div th:replace="~{fragments/admin/sidebar :: sidebar}"></div>
        </aside>
        <div class="col-auto vstack gap-4">
            <h1>PUBG API 호출</h1>
            <div>
                <ul class="nav nav-tabs" id="fetchTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="player-tab" data-bs-toggle="tab" data-bs-target="#player-tab-pane" type="button" role="tab" aria-controls="player-tab-pane" aria-selected="true">Player</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="match-tab" data-bs-toggle="tab" data-bs-target="#match-tab-pane" type="button" role="tab" aria-controls="match-tab-pane" aria-selected="false">Match</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="telemetry-tab" data-bs-toggle="tab" data-bs-target="#telemetry-tab-pane" type="button" role="tab" aria-controls="telemetry-tab-pane" aria-selected="false" disabled>Telemetry</button>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 rounded-bottom p-3" id="fetchTabContent">
                    <!-- player 조회 pane -->
                    <div class="tab-pane fade show active" id="player-tab-pane" role="tabpanel" aria-labelledby="player-tab" tabindex="0">
                        <h2>Request</h2>
                        <div class="row mb-3">
                            <label class="col-2 col-form-label" for="shard-select">플랫폼</label>
                            <div class="col-2">
                                <select class="form-select" id="shard-select">
                                    <option>Steam</option>
                                    <option>Kakao</option>
                                </select>
                            </div>
                            <label class="col-2 col-form-label" for="nickname-input">닉네임</label>
                            <div class="col">
                                <input class="form-control" type="text" id="nickname-input">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" id="player-fetch-btn">Execute</button>
                            </div>
                        </div>
                        <h3>Response</h3>
                        <pre class="form-control overflow-scroll" style="height: 500px"><code id="player-response"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="match-tab-pane" role="tabpanel" aria-labelledby="match-tab" tabindex="0">
                        <h2>Request</h2>
                        <div class="row mb-3">
                            <label class="col-2 col-form-label" for="match-input">매치 ID</label>
                            <div class="col">
                                <input class="form-control" type="text" id="match-input">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary" id="match-fetch-btn">Execute</button>
                            </div>
                        </div>
                        <h3>Response</h3>
                        <pre class="form-control overflow-scroll" style="height: 500px"><code id="match-response"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="telemetry-tab-pane" role="tabpanel" aria-labelledby="telemetry-tab" tabindex="0">telemetry</div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
<script>
    const playerShardSelect = document.getElementById('player-shard-select');
    const matchShardSelect = document.getElementById('match-shard-select');
    const nicknameInput = document.getElementById('nickname-input');
    const matchInput = document.getElementById('match-input');
    const playerFetchBtn = document.getElementById('player-fetch-btn');
    const matchFetchBtn = document.getElementById('match-fetch-btn');
    const playerResponse = document.getElementById('player-response');
    const matchResponse = document.getElementById('match-response');

    function fetchPlayer(shard, nickname) {
        return fetch(`/api/admin/fetch/player?shard=${shard}&nickname=${nickname}`)
            .then(response => response.json());
    }

    function fetchMatch(shard, matchId) {
        return fetch(`/api/admin/fetch/match?shard=${shard}&matchId=${matchId}`)
            .then(response => response.json());
    }

    playerFetchBtn.addEventListener('click', async () => {
        const body = await fetchPlayer(playerShardSelect.value, nicknameInput.value);
        playerResponse.innerHTML = JSON.stringify(body.result, null, 2);
    });

    matchFetchBtn.addEventListener('click', async () => {
        const body = await fetchMatch(matchShardSelect.value, matchInput.value);
        matchResponse.innerHTML = JSON.stringify(body.result, null, 2);
    });
</script>
</body>
</html>