<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Admin 페이지')}"></head>
<body>
<nav th:replace="~{fragments/admin/navbar :: navbar}"></nav>
<div class="container-fluid p-5">
    <div class="row g-4">
        <!--sidebar:left-->
        <aside class="col-md-3 col-xl-2">
            <div th:replace="~{fragments/admin/sidebar :: sidebar}"></div>
        </aside>
        <div class="col-auto vstack gap-4">
            <h1>Admin 홈 페이지</h1>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>