<th:block th:fragment="init(contributeDamageChart)">
    <canvas id="contributeDamageChart"></canvas>
    <script th:inline="javascript">
        const contributeDamageChart = document.getElementById('contributeDamageChart');

        new Chart(contributeDamageChart, {
            type: 'bar',
            data: {
                labels: [[${contributeDamageChart.labels}]],
                datasets: [[${contributeDamageChart.datasets}]],
            },
            options: {
                barPercentage: .5,
                categoryPercentage: .5,
                borderRadius: Number.MAX_VALUE,

                aspectRatio: 1,
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                cornerRadius: 15,
                plugins: {
                    legend: {
                        display: false,
                    },
                },
                scales: {
                    y: {
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            stepSize: 20
                        },
                        stacked: true,
                    },
                    x: {
                        gridLines: {
                            color: "transparent"
                        },
                        stacked: true,
                    }
                }
            }
        })
    </script>
</th:block>