<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(${viewTitle})}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container h-100 d-flex flex-column justify-content-center">
    <div class="d-flex flex-column">
        <h1 class="text-center">잘못된 접근입니다.</h1>
        <div th:if="${!errMsg.isBlank()}" class="text-center text-muted mb-3">[[${errMsg}]]</div>
        <a class="btn btn-primary mx-auto" href="/">홈으로</a>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>