<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(${viewTitle})}"></head>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <style>
        .card {
            border: 0;
            border-radius: var(--bs-border-radius-xl);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
        }

        .card-header {
            padding: 0 2.25rem;
            border: 0;
            background-color: transparent;
        }

        .card-body {
            padding: 0 2.25rem;
        }

        .accordion {
            border-radius: var(--bs-border-radius-xl);
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.03);
        }

        .accordion-item {
            border: 0;
        }

        .accordion-item:first-of-type {
            border-top-left-radius: var(--bs-border-radius-xl);
            border-top-right-radius: var(--bs-border-radius-xl);
        }

        .accordion-item:last-of-type {
            border-bottom-left-radius: var(--bs-border-radius-xl);
            border-bottom-right-radius: var(--bs-border-radius-xl);
        }

        .accordion-item:first-of-type .accordion-button {
            border-top-left-radius: var(--bs-border-radius-xl);
            border-top-right-radius: var(--bs-border-radius-xl);
        }

        .accordion-item:last-of-type .accordion-button.collapsed {
            border-bottom-left-radius: var(--bs-border-radius-xl);
            border-bottom-right-radius: var(--bs-border-radius-xl);
        }
    </style>
</head>
<body class="bg-light">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container-fluid py-md-4">
        <div class="row g-4">
            <!--sidebar:left-->
            <aside class="col-lg-2"></aside>
            <div class="col-lg-8">
                <div class="row mb-4 g-4">
                    <div class="col">
                        <a class="h3 m-0 text-decoration-none text-dark fw-bold" role="button" th:href="${'/players?shard=' + shard + '&nickname=' + player}">[[${player}]]</a>
                    </div>
                    <div th:if="${!member.isEmpty()}" class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-text" for="other-player">Member</label>
                            <select class="form-select" id="other-player" onchange="if(this.value) location.href=this.value;">
                                <option selected></option>
                                <option th:each="name : ${member}" th:text="${name}" th:value="${'/report/match/'+ matchInfo.id +'/player/' + name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="content vstack gap-4">
                    <!-- 정보 -->
                    <div class="vstack gap-4">
                        <!-- 매치 -->
                        <div class="row g-4">
                            <!-- 매치 정보 -->
                            <div class="col-md-6">
                                <div class="card mb-4 h-100">
                                    <div class="card-header pt-4">
                                        <h4 class="card-title fw-bold">매치 정보</h4>
                                    </div>
                                    <div class="card-body py-4">
                                        <div class="d-flex">
                                            <div>맵</div>
                                            <div class="ms-auto fw-bold">[[${matchInfo.map.getMapNameKor()}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>모드</div>
                                            <div class="ms-auto fw-bold">[[${matchInfo.mode.getTitle()}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>시작 시간</div>
                                            <div class="ms-auto fw-bold">[[${datetimeFormatter.UTCtoKST(matchInfo.createdAt)}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>플레이 시간</div>
                                            <div class="ms-auto fw-bold">[[${matchInfo.duration / 60 + ':' + matchInfo.duration % 60}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 매치 결과 -->
                            <div class="col-md-6">
                                <div class="card mb-4 h-100">
                                    <div class="card-header pt-4">
                                        <h4 class="card-title fw-bold">매치 결과</h4>
                                    </div>
                                    <div class="card-body py-4">
                                        <div class="d-flex">
                                            <div>랭킹</div>
                                            <div class="ms-auto">
                                                <span class="fw-bold">[[${matchResult.rank}]]</span>
                                                <span class="text-muted">/</span>
                                                <span class="text-muted">[[${matchResult.rosters}]]</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>킬</div>
                                            <div class="ms-auto fw-bold">[[${matchResult.kills}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>어시스트</div>
                                            <div class="ms-auto fw-bold">[[${matchResult.assists}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>데미지</div>
                                            <div class="ms-auto fw-bold">[[${matchResult.damageDealt}]]</div>
                                        </div>
                                        <hr>
                                        <div class="d-flex">
                                            <div>팀원 부활</div>
                                            <div class="ms-auto fw-bold">[[${matchResult.revives}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 킬 목록 -->
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header pt-4">
                                        <h4 class="card-title fw-bold">킬 목록</h4>
                                    </div>
                                    <div class="card-body py-4">
                                        <div class="table-responsive">
                                            <table class="table align-middle">
                                                <thead>
                                                <tr>
                                                    <th>전체</th>
                                                    <th>플레이어</th>
                                                    <th>봇</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>[[${analyze.killLog.size()}]]</td>
                                                    <td>[[${analyze.player}]]</td>
                                                    <td>[[${analyze.bot}]]</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${!analyze.killLog.isEmpty()}" class="table-responsive">
                                            <table class="table align-middle">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Victim</th>
                                                    <th scope="col">Weapon</th>
                                                    <th scope="col">Bot</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                <tr th:each="kill : ${analyze.killLog}">
                                                    <th scope="row">[[${killStat.index + 1}]]</th>
                                                    <td>[[${datetimeFormatter.offsetMinSec(matchInfo.createdAt, kill.timestamp)}]]</td>
                                                    <td>[[${kill.victim.name}]]</td>
                                                    <td>[[${kill.killInfo.damageCauserName.kor}]]</td>
                                                    <td><i th:if="${kill.victim.accountId.startsWith('ai.')}" class="fa-solid fa-circle-check"></i></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 분석 -->
                    <div th:if="${!analyze.damageLog.isEmpty()}" class="vstack gap-4">
                        <!-- 분석 그래프 -->
                        <div class="row g-4">
                            <!-- 페이즈 데미지 차트:원형 차트 -->
                            <div class="col-md-6">
                                <div class="card mb-4 h-100">
                                    <div class="card-header pt-4">
                                        <h4 class="card-title fw-bold">페이즈 별 데미지</h4>
                                    </div>
                                    <div class="card-body py-4">
                                        <div th:replace="~{fragments/phaseDamageChart :: init(${analyze.charts.get('phaseDamageChart')})}"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 킬 데미지 기여 차트:막대 차트 -->
                            <div class="col-md-6">
                                <div class="card mb-4 h-100">
                                    <div class="card-header pt-4">
                                        <h4 class="card-title fw-bold">킬 데미지 기여도</h4>
                                    </div>
                                    <div class="card-body py-4">
                                        <div th:replace="~{fragments/contributeDamageChart :: init(${analyze.charts.get('contributeDamageChart')})}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 킬 데미지 분석 아코디언 -->
                        <div th:if="${!analyze.killLog.isEmpty()}" class="row">
                            <div class="col">
                                <div class="accordion" id="kills-accordion">
                                    <div th:each="kill : ${analyze.killLog}" class="accordion-item">
                                        <h2 class="accordion-header" th:id="${kill.victim.name + '-heading'}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#' + kill.victim.name + '-collapse'}" aria-expanded="false" th:aria-controls="${kill.victim.name + '-collapse'}">
                                                [[${kill.victim.name}]]
                                            </button>
                                        </h2>
                                        <div th:id="${kill.victim.name + '-collapse'}" class="accordion-collapse collapse" th:aria-labelledby="${kill.victim.name + '-heading'}" data-bs-parent="#kills-accordion">
                                            <div class="accordion-body">
                                                <div class="table-responsive">
                                                    <table class="table align-middle">
                                                        <thead>
                                                        <tr>
                                                            <th style="width: 25%" th:text="${player}"></th>
                                                            <th style="width: 25%" th:each="name : ${member}" th:text="${name}"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td th:text="${#numbers.formatDecimal(memberDamageDealt.get(kill.victim.name).getOrDefault(player, 0.0), 1, 1)}"></td>
                                                            <td th:each="name : ${member}" th:text="${#numbers.formatDecimal(memberDamageDealt.get(kill.victim.name).getOrDefault(name, 0.0), 1, 1)}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table align-middle">
                                                        <thead class="align-middle">
                                                        <tr>
                                                            <th rowspan="2" scope="col">Time</th>
                                                            <th rowspan="2" scope="col">Attacker</th>
                                                            <th rowspan="2" scope="col">Reason</th>
                                                            <th rowspan="2" scope="col">Weapon</th>
                                                            <th rowspan="2" scope="col">Damage</th>
                                                            <th colspan="2" scope="col" class="text-center border-0">Health</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Before</th>
                                                            <th scope="col">After</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                        <tr th:each="damage : ${analyze.victimDamageLog.get(kill.victim.name)}">
                                                            <td>[[${datetimeFormatter.offsetMinSecMill(matchInfo.createdAt, damage.timestamp)}]]</td>
                                                            <td>[[${damage.attacker.name}]]</td>
                                                            <td>[[${damage.damageReason.kor}]]</td>
                                                            <td>[[${damage.damageCauserName.kor}]]</td>
                                                            <th:block th:if="${damage.damage == 0}">
                                                                <td colspan="3">확킬</td>
                                                            </th:block>
                                                            <th:block th:unless="${damage.damage == 0}">
                                                                <td>[[${#numbers.formatDecimal(damage.damage, 1, 1)}]]</td>
                                                                <td>[[${#numbers.formatDecimal(damage.victim.health, 1, 1)}]]</td>
                                                                <td>[[${#numbers.formatDecimal(damage.victim.health - damage.damage, 1, 1)}]]</td>
                                                            </th:block>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 전체 데미지 아코디언 -->
                        <div th:if="${!analyze.damageLog.isEmpty()}" class="row">
                            <div class="col">
                                <div class="accordion" id="damages-accordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="damages-heading">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#damages-collapse" aria-expanded="false" aria-controls="damages-collapse">
                                                전체 데미지 로그
                                            </button>
                                        </h2>
                                        <div id="damages-collapse" class="accordion-collapse collapse" aria-labelledby="damages-heading" data-bs-parent="#damages-accordion">
                                            <div class="accordion-body">
                                                <div class="table-responsive">
                                                    <table class="table align-middle">
                                                        <thead class="align-middle">
                                                        <tr>
                                                            <th rowspan="2" scope="col">Time</th>
                                                            <th rowspan="2" scope="col">Victim</th>
                                                            <th rowspan="2" scope="col">Reason</th>
                                                            <th rowspan="2" scope="col">Weapon</th>
                                                            <th rowspan="2" scope="col">Damage</th>
                                                            <th colspan="2" scope="col" class="text-center border-0">Health</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Before</th>
                                                            <th scope="col">After</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="table-group-divider">
                                                        <tr th:each="damage : ${analyze.damageLog}">
                                                            <td>[[${datetimeFormatter.offsetMinSecMill(matchInfo.createdAt, damage.timestamp)}]]</td>
                                                            <td>[[${damage.victim.name}]]</td>
                                                            <td>[[${damage.damageReason.kor}]]</td>
                                                            <td>[[${damage.damageCauserName.kor}]]</td>
                                                            <th:block th:if="${damage.damage == 0}">
                                                                <td colspan="3">확킬</td>
                                                            </th:block>
                                                            <th:block th:unless="${damage.damage == 0}">
                                                                <td>[[${#numbers.formatDecimal(damage.damage, 1, 1)}]]</td>
                                                                <td>[[${#numbers.formatDecimal(damage.victim.health, 1, 1)}]]</td>
                                                                <td>[[${#numbers.formatDecimal(damage.victim.health - damage.damage, 1, 1)}]]</td>
                                                            </th:block>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--sidebar:right-->
            <aside class="col-lg-2"></aside>
        </div>
    </div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>