<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: header(${viewTitle})"></head>
<body>
    <nav th:replace="/fragments/navbar.html"></nav>
    <div class="container h-100 d-flex flex-column">
        <h1 class="text-center mt-auto mb-3">PUBG Analyzer</h1>
        <form class="row justify-content-center mb-3" method="get" action="/players">
            <div class="col-2">
                <select name="shard" class="form-select">
                    <option selected th:each="shard : ${shards}" th:if="${shard == 'STEAM'}" th:value="${shard}" th:text="${shard}"></option>
                    <option th:each="shard : ${shards}" th:unless="${shard == 'STEAM'}" th:value="${shard}" th:text="${shard}"></option>
                </select>
            </div>
            <div class="col">
                <input type="text" name="nickname" class="form-control" id="input-nickname" placeholder="닉네임을 입력해주세요.">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-dark h-100 align-middle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        <div class="card mb-auto" id="bookmark">
            <div class="card-header">
                Bookmark
            </div>
            <div class="card-body p-0 py-1">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="text-black" href="/players?shard=STEAM&nickname=Patriot_Engineer">Patriot_Engineer</a></li>
                    <li class="list-group-item"><a class="text-black" href="/players?shard=STEAM&nickname=LSWW1">LSWW1</a></li>
                    <li class="list-group-item"><a class="text-black" href="/players?shard=STEAM&nickname=MR_POLOO">MR_POLOO</a></li>
                    <li class="list-group-item"><a class="text-black" href="/players?shard=STEAM&nickname=ss_barl">ss_barl</a></li>
                </ul>
            </div>
        </div>
    </div>
<th:block th:replace="/fragments/footer.html"></th:block>
</body>
</html>