<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(${viewTitle})}"></head>
<head>
    <style>
        .pa-stat[data-calc-flag="false"] {
            background-color: #ffffff;
        }
        .pa-stat[data-calc-flag="true"] {
            background-color: #e5f9ff;
        }

        .pa-renew-spinner[aria-hidden="true"] {
            display: none;
        }
        .pa-renew-spinner[aria-hidden="false"] {
            display: inline-flex;
        }
    </style>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container-fluid py-5 px-4">
        <div class="row g-4">
            <!--sidebar:left-->
            <aside class="col-lg-3"></aside>
            <div class="col-md-8 col-lg-6 vstack gap-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="mb-3" id="nickname" th:data-player-id="${player.id}" th:text="${player.name}"></h1>
                        <div class="d-flex">
                            <button class="pa-renew-btn btn btn-primary me-2" th:data-player-nickname="${player.name}" onclick="renewPlayer(event)">
                                전적 갱신
                                <span class="pa-renew-spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                            <a th:if="${bookmarkState}" class="btn btn-warning d-flex align-items-center" role="button" th:href="${'/players/bookmark/delete?shard=' + player.shardId + '&nickname=' + player.name}"><i class="fa-solid fa-bookmark"></i></a>
                            <a th:unless="${bookmarkState}" class="btn btn-outline-warning d-flex align-items-center" role="button" th:href="${'/players/bookmark/add?shard=' + player.shardId + '&nickname=' + player.name}"><i class="fa-solid fa-bookmark"></i></a>
                        </div>
                    </div>
                </div>
                <div id="stats">
                    <div th:each="stat : ${stats}" class="card mt-3 position-relative pa-stat" role="button" th:id="${stat.id}" th:onclick="doClickStatCard([[${stat.id}]])" th:data-result-kills="${stat.kills}" th:data-result-assists="${stat.assists}" th:data-result-damageDealt="${stat.damageDealt}" data-calc-flag="false">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col d-flex flex-column">
                                    <div>
                                        <span class="align-bottom fs-3" th:text="${'#' + stat.winPlace}"></span>
                                        <span class="align-bottom fs-6" th:text="${'/ ' + stat.roster.match.rosters.size()}"></span>
                                    </div>
                                    <span th:text="${stat.roster.match.getCreatedOffset()}"
                                          data-bs-toggle="tooltip" data-bs-placement="bottom"
                                          data-bs-custom-class="custom-tooltip"
                                          th:data-bs-title="${stat.roster.match.getZonedCreatedAt()}"></span>
                                </div>
                                <div class="col d-flex flex-column">
                                    <span th:text="${stat.roster.match.mapName.getMapNameKor()}"></span>
                                    <span th:text="${stat.roster.match.getGameMode()}"></span>
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>킬</span>
                                    <span th:text="${stat.kills}"></span>
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>어시스트</span>
                                    <span th:text="${stat.assists}"></span>
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>데미지</span>
                                    <span th:text="${stat.damageDealt}"></span>
                                </div>
                                <div class="col d-flex flex-column">
                                    <span>부활</span>
                                    <span th:text="${stat.revives}"></span>
                                </div>
                                <div class="col-auto">
                                    <a th:href="${'/analyzer/match/' + stat.match.id + '/player/' + player.name}" class="btn btn-primary my-auto"><i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--sidebar:right-->
            <aside class="col-lg-3">
                <div class="card" id="matches-result-calc" style="position: sticky; top: 50vh">
                    <div class="card-header">합산</div>
                    <div class="card-body px-0 py-1">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>경기 수</div>
                                <div id="matches-result-calc-matches">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>킬 합산</div>
                                <div id="matches-result-calc-kills">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>어시스트 합산</div>
                                <div id="matches-result-calc-assists">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>공격 포인트</div>
                                <div id="matches-result-calc-points">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>데미지 합산</div>
                                <div id="matches-result-calc-damage">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>킬 avg.</div>
                                <div id="matches-result-calc-kills-avg">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>어시스트 avg.</div>
                                <div id="matches-result-calc-assists-avg">0</div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div>데미지 avg.</div>
                                <div id="matches-result-calc-damage-avg">0</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const calcResult = {
            matches: 0,
            kills: 0,
            assists: 0,
            damageDealt: 0,
            getPoint: () => calcResult.kills + calcResult.assists,
            getKillsAvg: () => (calcResult.kills/calcResult.matches).toFixed(2),
            getAssistsAvg: () => (calcResult.assists/calcResult.matches).toFixed(2),
            getDamageDealtAvg: () => (calcResult.damageDealt/calcResult.matches).toFixed(2),
        };

        function doClickStatCard(id) {
            const target = document.getElementById(id);
            const flag = target.getAttribute('data-calc-flag');

            target.setAttribute('data-calc-flag', flag === "false" ? "true" : "false");

            if (flag === "false") {
                calcResult.matches++;
                calcResult.kills += Number(target.getAttribute('data-result-kills'));
                calcResult.assists += Number(target.getAttribute('data-result-assists'));
                calcResult.damageDealt += Number(target.getAttribute('data-result-damageDealt'));
            } else {
                calcResult.matches--;
                calcResult.kills -= Number(target.getAttribute('data-result-kills'));
                calcResult.assists -= Number(target.getAttribute('data-result-assists'));
                calcResult.damageDealt -= Number(target.getAttribute('data-result-damageDealt'));
            }
            renderCalc();
        }

        function renderCalc() {
            const matches = document.getElementById('matches-result-calc-matches');
            const kills = document.getElementById('matches-result-calc-kills');
            const assists = document.getElementById('matches-result-calc-assists');
            const points = document.getElementById('matches-result-calc-points');
            const damage = document.getElementById('matches-result-calc-damage');
            const killsAvg = document.getElementById('matches-result-calc-kills-avg');
            const assistsAvg = document.getElementById('matches-result-calc-assists-avg');
            const damageAvg = document.getElementById('matches-result-calc-damage-avg');
            matches.innerText = calcResult.matches;
            kills.innerText = calcResult.kills;
            assists.innerText = calcResult.assists;
            points.innerText = calcResult.getPoint();
            damage.innerText = calcResult.damageDealt.toFixed(2);
            killsAvg.innerText = calcResult.getKillsAvg();
            assistsAvg.innerText = calcResult.getAssistsAvg();
            damageAvg.innerText = calcResult.getDamageDealtAvg();
        }

        function renewPlayer(event) {
            renewSpinnerToggle();
            const nickname = event.target.getAttribute('data-player-nickname');

            fetch(`/api/players/${nickname}`, {method: 'PATCH'})
                .then(res => {
                    if (!res.ok) {
                        alert('갱신 실패.');
                        renewSpinnerToggle();
                        return;
                    }
                    location.reload();
                }).catch(res => {
                    renewSpinnerToggle();
                    alert('갱신 실패.');
            })
        }

        function renewSpinnerToggle() {
            const renewSpinner = document.querySelector('.pa-renew-spinner');
            const renewBtn = document.querySelector('.pa-renew-btn');

            const status = renewSpinner.getAttribute('aria-hidden');

            renewBtn.disabled = status === "true";
            renewSpinner.setAttribute('aria-hidden', status === "false" ? "true" : "false");
        }
    </script>
</body>
</html>